INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
examples/Makefile
examples/Makefile.in
install-sh
libtool
ltmain.sh
missing
autom4te.cache
stamp-h1
*.lo
*.la
vle.pc
