INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
autom4te.cache
stamp-h1
*.lo
*.la
vle.pc
vlepython.pc
src/apps/vle/vle
src/apps/oov/oov
src/apps/test/vlemodeltest
src/apps/test/vletranslatortest
*.cmake
*.so
CMakeFiles
CMakeCache.txt
install_manifest.txt
DartTestfile.txt
/test/Testing
/test/test*
*.swp
