Aurélie Blot <ablot@users.sourceforge.net>
Aurélien Ansel <camumus@gmail.com>
Bruno Bonté <bruno.bonte@cirad.fr>
Cyril Marcq <cmarcq@users.sourceforge.net>
David Duvivier <david.duvivier@lil.univ-littoral.fr>
Eric Ramat <ramat@lisic.univ-littoral.fr> Eric Ramat <ramat@lisic.univ-littoral.fr>
Eric Ramat <ramat@lisic.univ-littoral.fr> Éric Ramat <ramat@lil.univ-littoral.fr>
Eric Ramat <ramat@lisic.univ-littoral.fr> Eric Ramat <ramat@lil.univ-littoral.fr>
Gauthier Quesnel <quesnel@users.sourceforge.net> Gauthier Quesnel <gauthier@users.sourceforge.net>
Gauthier Quesnel <quesnel@users.sourceforge.net> Gauthier Quesnel <quesnel@lil.univ-littoral.fr>
Gauthier Quesnel <quesnel@users.sourceforge.net>
Gauthier Quesnel <quesnel@users.sourceforge.net> Gauthier Quesnel <quesnel@vle.toulouse.inra.fr>
Gauthier Quesnel <quesnel@users.sourceforge.net> Quesnel <gquesnel@cascade.(none)>
Guillaume Ansel <anselg@users.sourceforge.net>
Hennuyer Romain <romain.hennuyer@gmail.com>
Patrick Chabrier <patrick.chabrier@toulouse.inra.fr>
Patrick Chabrier <patrick.chabrier@toulouse.inra.fr> <pchabrier@estibere.(none)>
Patrick Chabrier <patrick.chabrier@toulouse.inra.fr> <pchabrier@russell.(none)>
Raphaël Duboz <raphael.duboz@cirad.fr> Raphael Duboz <raphael.duboz@cirad.fr>
Raphaël Duboz <raphael.duboz@cirad.fr> Duboz Raphael <duboz@ird.fr>
Ronan Trépos <rtrepos@toulouse.inra.fr>
Mikaël Grialou <Mikael.Grialou@toulouse.inra.fr>
