version: "{branch}-ci-{build}"
os: Visual Studio 2019

branches:
  only:
    - master
    - test

init:
  - set PATH=%PATH:C:\Program Files\Git\usr\bin;=%
  - set APPVEYOR_PATH=%PATH%

install:
  - C:\msys64\usr\bin\bash -lc "pacman --needed --noconfirm -Sy pacman-mirrors"
  - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -Sy"
  - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -S --overwrite * mingw-w64-i686-expat"
  - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -S --overwrite * mingw-w64-i686-openssl"
  - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -S --overwrite * mingw-w64-i686-curl"
  - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -S --overwrite * mingw-w64-i686-boost"

before_build:
  - cmd: set OLD_PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\
  - cmd: set SourcePath=%APPVEYOR_BUILD_FOLDER%
  - cmd: set QtDir=c:\Qt\5.12.11\mingw73_32
  - cmd: set QtDirTools=c:\Qt\Tools\mingw730_32
  - cmd: set VleDeps=%APPVEYOR_BUILD_FOLDER%\VleDeps
  - cmd: set MingwPath=c:\msys64\mingw32
  - cmd: set InstallPath=%APPVEYOR_BUILD_FOLDER%\install-iss
  - cmd: set BuildPath=%APPVEYOR_BUILD_FOLDER%\build
  - cmd: set CMakePath=%ProgramFiles%\CMake
  - cmd: set InnoSetupPath="%ProgramFiles(x86)%\Inno Setup 5"
  - cmd: for /f "tokens=3 delims= " %%a in ('type %SourcePath%\CMakeLists.txt^|find "project(VLE VERSION "') do (set version=%%a)
  - cmd: for /F "tokens=1,2,3 delims=." %%a in ("%version%") do (set "Major=%%a" & set "Minor=%%b" & set "Patch=%%c")
  - cmd: set VLE_ABI=%Major%.%Minor%
  - cmd: set VLE_VERSION=%Major%.%Minor%.%Patch%
  - cmd: md %VleDeps%
  - cmd: md %VleDeps%\bin
  - cmd: md %VleDeps%\lib
  - cmd: md %VleDeps%\include
  - cmd: md %VleDeps%\include\lzma
  - cmd: xcopy /Y %MingwPath%\bin\curl.exe %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\include\iconv.h %VleDeps%\include
  - cmd: xcopy /Y %MingwPath%\include\libintl.h %VleDeps%\include
  - cmd: xcopy /Y %MingwPath%\include\lzma.h %VleDeps%\include
  - cmd: xcopy /Y %MingwPath%\include\zlib.h %VleDeps%\include
  - cmd: xcopy /Y %MingwPath%\include\expat*.h %VleDeps%\include
  - cmd: xcopy /Y /S /I %MingwPath%\include\lzma\*.* %VleDeps%\include\lzma
  - cmd: xcopy /Y /S /I %MingwPath%\bin\libcurl-4.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libbrotlicommon.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libbrotlidec.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libcrypto-1_1.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libpsl-5.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libssl-1_1.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libexpat-1.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libiconv-2.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libidn2*.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libintl-8.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\liblzma-5.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libboost* %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libnghttp2-14.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libssh2-1.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\libunistring-2.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\zlib1.dll %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\bin\curl.exe %VleDeps%\bin
  - cmd: xcopy /Y %MingwPath%\lib\liblzma.a %VleDeps%\lib
  - cmd: xcopy /Y %MingwPath%\lib\liblzma.dll.a %VleDeps%\lib
  - cmd: xcopy /Y %MingwPath%\lib\libexpat.a %VleDeps%\lib
  - cmd: xcopy /Y %MingwPath%\lib\libexpat.dll.a %VleDeps%\lib
  - cmd: xcopy /Y %MingwPath%\lib\libz.a %VleDeps%\lib
  - cmd: xcopy /Y %MingwPath%\lib\libz.dll.a %VleDeps%\lib
  - cmd: xcopy /Y %MingwPath%\lib\libiconv.a %VleDeps%\lib
  - cmd: xcopy /Y %MingwPath%\lib\libiconv.dll.a %VleDeps%\lib
  - cmd: xcopy /Y %MingwPath%\lib\libintl.a %VleDeps%\lib
  - cmd: xcopy /Y %MingwPath%\lib\libintl.dll.a %VleDeps%\lib
  - cmd: xcopy /Y /S /I %MingwPath%\ssl\*.* %VleDeps%\ssl
  - cmd: xcopy /Y /S /I %MingwPath%\ssl\certs\*.* %VleDeps%\ssl\certs

build_script:
  - cmd: set PATH=%QtDirTools%\bin;%QtDir%\bin;%CMakePath%\bin;%OLD_PATH%
  - cmd: mkdir %BuildPath%
  - cmd: cd %BuildPath%
  - cmd: echo %PATH%
  - cmd: cmake.exe -G "MinGW Makefiles" -DCMAKE_PREFIX_PATH=%VleDeps% -DBOOST_INCLUDEDIR=%MingwPath%\include -DWITH_MVLE=OFF -DWITH_CVLE=OFF -DWITH_DOXYGEN=OFF -DWITH_GVLE=ON -DCMAKE_INSTALL_PREFIX=%InstallPath% -DCMAKE_BUILD_TYPE=RelWithDebInfo %SourcePath%
  - cmd: mingw32-make VERBOSE=1 -j4
  - cmd: mingw32-make install

after_build:
  - cmd: set PATH=%InnoSetupPath%;%OLD_PATH%
  - cmd: cd %SourcePath%\share
  - cmd: iscc.exe vle.iss
  - cmd: set PATH=%APPVEYOR_PATH%
  - cmd: 7z a vle.zip Output\*.exe

artifacts:
  - path: share\vle.zip
    name: app
